.project-item {
    -fx-padding: 10px;
}

.project-item .label {
    -fx-font-size: 1.4em;
}

.project-item__title--pending {
    -fx-text-fill: blue;
    -fx-font-weight: bold;
}

.project-item__title--error {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.project-item__radio-group {
    -fx-border-width: 0 1px 0 0;
    -fx-border-color: #ccc;
    -fx-alignment: center;
}

.project-item__radio-button {
    -fx-padding: 0 10px 0 0;
    -fx-font-size: 1.4em;
}

.project-item__edit-button {
    -fx-pref-width: 100px;
}

.project-item__radio-button--error {
    -fx-text-fill: red;
}

.project-item__spacer {
    -fx-max-width: 10px;
}
